<div class="rounded-md custom-background h-40 w-60">
  <div class="flex flex-col p-2">
    <div class="w-56 h-32">
      <img class="h-full w-full rounded-sm" [src]="imgSource" alt="" />
    </div>
    <h4 class="text-white text-center">
      <strong>{{ car.model }}</strong>
    </h4>
    <div class="flex flex-col justify-center">
      <p class="text-center line-through text-red-700 text-s">
        ${{ car.price * 2 }}
      </p>
      <p class="text-white text-center text-xl">
        <strong>${{ car.price | pointNumber }}</strong>
      </p>
      <button
        (click)="route()"
        class="p-2 rounded-md font-bold text-white text-2xl mt-3 custom-warning"
      >
        Arrienda YA
      </button>
    </div>
  </div>
</div>
