<div class="flex p-2 h-32">
  <div class="flex justify-center align-middle basis-1/4">
    <img
      src="../../../assets/carImages/12-millones-1.jpg"
      class="image my-auto"
      alt=""
    />
  </div>
  <div class="basis-1/2 align-middle">
    <h3 class="mt-5 font-bold">BMW Z4 ROADSTER SSSSOOO</h3>
    <p class="mt-5 text-red-500 font-bold">Estado: Arrendado</p>
  </div>
  <div class="basis-full">
    <div class="relative h-full">
      <button
        class="absolute right-12 bottom-10 py-1 px-3 rounded-full bg-blue-400"
      >
        Editar
      </button>
      <button
        class="absolute bottom-10 right-36 py-1 px-3 rounded-full bg-red-800"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>
