<div class="flex p-2 h-32">
  <div class="flex justify-center align-middle basis-1/4">
    <img
      src="../../../assets/icons/user-profile-icon-free-vector.jpg"
      class="image my-auto h-20 w-20 rounded-lg"
      alt="profile"
    />
  </div>
  <div class="basis-1/2 align-middle">
    <h3 class="mt-5 font-bold">{{ user.name }} {{ user.lastName }}</h3>
    <p class="mt-5 text-red-500 font-bold">Arrendando: {{ user.rentID }}</p>
  </div>
  <div class="basis-full">
    <div class="relative h-full">
      <button
        (click)="showPopup = true"
        class="absolute bottom-10 right-36 py-1 px-3 rounded-full bg-red-800 hover:bg-red-600"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>
<div
  *ngIf="showPopup"
  class="absolute top-0 left-0 h-full w-full bg-transparent"
>
  <div class="flex h-full w-full justify-center">
    <div class="fixed mt-56 h-52 w-96 bg-slate-950 my-auto p-7 rounded-md">
      <button
        class="absolute right-3 top-0 font-bold text-2xl"
        (click)="showPopup = false"
      >
        X
      </button>
      <p class="text-center font-bold text-xl">
        Presiona confirmar para efectuar esta acción:
      </p>
      <button
        (click)="deleteAcount()"
        class="absolute bottom-5 left-28 px-6 font-bold text-white py-3 mx-auto bg-red-700 rounded-sm"
      >
        Eliminar cuenta
      </button>
    </div>
  </div>
</div>
