.custom-header {
  background-color: var(--primary-color);
}
.custom-image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: url("../../../assets/carImages/l200-principal-13.png");
}
