<header
  class="custom-header w-full h-40"
  [ngStyle]="{
    'background-color':
      userRole == 'admin' ? 'var(--warning-color)' : 'var(--primary-color)'
  }"
>
  <div class="w-full h-full flex justify-around">
    <div class="pt-7 pl-7">
      <h1 class="text-5xl font-extrabold text-white">Rent Car</h1>
      <h2 class="text-2xl text-white font-extrabold mt-2 ml-16">
        Clickea y conduce!
      </h2>
    </div>
    <div class="w-1/4 h-full">
      <div class="custom-image-container h-full w-full"></div>
    </div>
    <div class="">
      <nav class="h-full w-full grid grid-cols-4 grid-rows-2">
        <div>
          <button
            *ngIf="userRole == 'admin'"
            class="hover:bg-red-600 p-2 mt-5 text-white font-bold bg-red-700 rounded-sm"
          >
            Panel de control
          </button>
        </div>
        <div></div>
        <div></div>
        <div>
          <h3
            *ngIf="userRole !== 'visit'"
            class="font-bold text-white text-xl mt-2"
          >
            Hola, Sebastian
          </h3>
        </div>
        <a
          href="#"
          class="text-center font-bold text-xl text-white mt-auto p-2 hover:text-neutral-200"
          >Inicio</a
        >
        <a
          href="#"
          class="text-center font-bold text-xl text-white mt-auto p-2 hover:text-neutral-200"
          >Productos</a
        >
        <a
          *ngIf="userRole == 'user' || userRole == 'admin'"
          href="#"
          class="text-center font-bold text-xl text-white mt-auto p-2 hover:text-neutral-200"
          >Perfil</a
        >
        <a
          *ngIf="userRole == 'user' || userRole == 'admin'"
          href="#"
          class="text-center font-bold text-xl text-white mt-auto p-2 hover:text-neutral-200"
          >Cerrar sesion</a
        >
        <a
          *ngIf="userRole == 'visit'"
          href="#"
          class="text-center font-bold text-xl text-white mt-auto p-2 hover:text-neutral-200"
          >Registrarse</a
        >
        <a
          *ngIf="userRole == 'visit'"
          href="#"
          class="text-center font-bold text-xl text-white mt-auto p-2 hover:text-neutral-200"
          >Iniciar sesion</a
        >
      </nav>
    </div>
  </div>
</header>
