<section class="mt-16 mb-16 flex justify-center bg-slate-100 h-full">
  <div class="w-4/5">
    <div class="flex">
      <div class="flex flex-col flex-grow p-5 gap-3 flex-custom">
        <div>
          <img
            class="custom-image h-auto object-contain"
            src="../../../assets/carImages/12-millones-1.jpg"
            alt=""
          />
        </div>
        <div class="flex gap-3">
          <img
            class="thumb"
            src="../../../assets/carImages/12-millones-1.jpg"
            alt=""
          />
          <img
            class="thumb"
            src="../../../assets/carImages/12-millones-1.jpg"
            alt=""
          />
          <img
            class="thumb"
            src="../../../assets/carImages/12-millones-1.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="flex-grow p-5 flex-custom relative">
        <div>
          <h2 class="font-bold text-3xl mb-7 text-black">
            {{ car.model }}
          </h2>
          <p class="font-thin text-black">
            El diseño exterior e interior del BMW Z4 Roadster transmite una
            sensación de deportividad relajada y estética individual. Las
            características potentes de la apariencia dinámica incluyen la
            parrilla BMW en forma de riñón con diseño de malla, el toldo
            elegante y los elementos de la Línea Shadow de BMW Individual. El
            interior redondea el concepto coherente de diseño con equipamiento
            opcional como los asientos M deportivos o la luz interior.
          </p>
        </div>
        <p class="font-bold text-black text-5xl mt-8">
          ${{ car.price | pointNumber }}
        </p>
        <button
          (click)="changeRoute()"
          class="font-extrabold text-3xl text-white py-3 px-4 warning-bg absolute right-8 bottom-5 rounded-md"
        >
          ARRENDAR
        </button>
      </div>
    </div>
  </div>
</section>
