<section class="mt-16 mb-16 flex justify-center bg-slate-100 h-full">
  <div class="w-4/5">
    <div class="flex flex-col gap-10">
      <h2 class="font-bold text-3xl text-blue-900">
        ¡Los mejores vehículos al mejor precio!
      </h2>
      <div class="flex gap-12 flex-wrap">
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
        <app-card-car></app-card-car>
      </div>
    </div>
  </div>
</section>
