<form class="flex flex-col gap-12">
  <h2 class="text-2xl">
    <strong>Cambiar contrasenia</strong>
  </h2>
  <div class="grid grid-cols-2 grid-rows-3 gap-6">
    <p class="font-bold">Contrasenia actual:</p>
    <div>
      <input
        type="password"
        class="text-black font-bold px-5 py-1 rounded-full bg-white"
      />
    </div>
    <p class="font-bold">Contrasenia actual:</p>
    <div>
      <input
        type="password"
        class="text-black font-bold px-5 py-1 rounded-full bg-white"
      />
    </div>
    <p class="font-bold">Contrasenia actual:</p>
    <div>
      <input
        type="password"
        class="text-black font-bold px-5 py-1 rounded-full bg-white"
      />
    </div>
  </div>
  <div class="flex justify-center">
    <button
      type="submit"
      class="font-bold px-2 py-1 rounded-sm hover:bg-red-950 warning-bg"
    >
      Aplicar
    </button>
  </div>
</form>
