<form [formGroup]="passwordForm" class="flex flex-col gap-12">
  <h2 class="text-2xl">
    <strong>Cambiar contraseña</strong>
  </h2>
  <div class="grid grid-cols-2 grid-rows-3 gap-6">
    <p class="font-bold">Contraseña actual:</p>
    <div>
      <input
        formControlName="oldPassword"
        type="password"
        class="text-black font-bold px-5 py-1 rounded-full bg-white"
      />
    </div>
    <p class="font-bold">Contraseña nueva:</p>
    <div>
      <input
        formControlName="newPassword"
        type="password"
        class="text-black font-bold px-5 py-1 rounded-full bg-white"
      />
    </div>
    <p class="font-bold">Confirmar contraseña:</p>
    <div>
      <input
        formControlName="confirmPassword"
        type="password"
        class="text-black font-bold px-5 py-1 rounded-full bg-white"
      />
    </div>
  </div>
  <div class="flex justify-center">
    <button
      (click)="changePassword()"
      type="submit"
      class="font-bold px-4 py-1 rounded-sm hover:bg-red-950 warning-bg"
    >
      Aplicar
    </button>
  </div>
</form>
