.custom-section {
  height: 568px;
}
.custom-background {
  background-color: var(--secondary-color);
}
.background-primary {
  background-color: var(--primary-color);
}
.circle {
  height: 177px;
  width: 177px;
  border-radius: 50%;
  background-color: white;
}
.custom-offer {
  height: auto;
}
