<section class="mt-16 mb-16 flex justify-center h-full">
  <div class="custom-background w-1/2 h-full rounded-s">
    <div class="flex text-white justify-center">
      <div class="flex w-full flex-col pb-12">
        <h2 class="text-center text-3xl my-6">
          <strong>Panel de control</strong>
        </h2>

        <hr />
        <button
          class="my-3 bg-yellow-800 py-4 font-bold text-xl"
          routerLink="./add-product"
        >
          Agregar vehículo
        </button>
        <div class="h-screen overflow-y-auto">
          <div *ngFor="let car of allCars" class="item">
            <app-producrtcard-admin [car]="car"></app-producrtcard-admin>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
