@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #090580;
  --secondary-color: #7286d3;
  --warning-color: #ffa500;
  --error-color: #dc3545;
  --green-color: #00ff29;
}
