<div class="grid grid-cols-2 grid-rows-4 flex-col gap-5">
  <div>
    <span class="font-bold">Nombre:</span>
    <input
      type="text"
      class="text-black font-semibold rounded-md ml-3 px-2"
      value="Kevin Clift"
    />
  </div>
  <div>
    <button class="font-bold px-2 py-1 rounded-sm hover:bg-red-950 warning-bg">
      Cambiar
    </button>
  </div>
  <div>
    <span class="font-bold">Correo:</span>
    <input
      type="text"
      class="text-black font-semibold rounded-md ml-3 px-2"
      value="Kevin.clift.b@gmail.com"
    />
  </div>
  <div>
    <button class="font-bold px-2 py-1 rounded-sm hover:bg-red-950 warning-bg">
      Cambiar
    </button>
  </div>
  <div class="w-full">
    <span class="font-bold">Telefono:</span>
    <input
      type="text"
      class="text-black font-semibold rounded-md ml-3 px-2"
      value="+56 9 123 456 78"
    />
  </div>
  <div>
    <button class="font-bold px-2 py-1 rounded-sm hover:bg-red-950 warning-bg">
      Cambiar
    </button>
  </div>
  <div>
    <span class="font-bold">Direccion:</span>
    <input
      type="text"
      class="text-black font-semibold rounded-md ml-3 px-2"
      value="Universidad Tarapaca Sede La Tirana"
    />
  </div>
  <div>
    <button class="font-bold px-2 py-1 rounded-sm hover:bg-red-950 warning-bg">
      Cambiar
    </button>
  </div>
</div>
<div class="flex justify-center">
  <button
    class="font-extrabold px-2 py-1 rounded-sm hover:bg-red-700 text-white mt-12 bg-red-800"
  >
    Eliminar cuenta
  </button>
</div>
